<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiang.dao.ResourceMapper">

    <select id="findAllResource" resultType="com.qiang.domain.Resource">
        select * from resource
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="url != null">
                and url = #{url}
            </if>
            <if test="category_id != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>

<!--    public void saveResource(Resource resource);-->
    <insert id="saveResource" parameterType="com.qiang.domain.Resource">
        insert into resource values (null, #{name}, #{url},#{categoryId},#{description},#{createdTime},#{updatedTime},#{createdBy},#{updatedBy})
    </insert>
<!--    public void updateResource(Resource resource);-->
    <update id="updateResource" parameterType="com.qiang.domain.Resource">
        update resource set
                name=#{name},
                url = #{url},
                category_id = #{categoryId},
                description = #{description},
                updated_time=#{updatedTime},
                updated_by=#{updatedBy}
        where id=#{id}
    </update>
<!--    public void deleteResource(Resource resource);-->
    <delete id="deleteResource" parameterType="int">
    delete from resource where id=#{id}
    </delete>
</mapper>